name: Build test
on: 
  push:
    paths-ignore:
      - 'README.md'
      - 'LICENSE'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    env:
      IMAGE_NAME: ib-gateway-docker
    steps:
    - uses: actions/checkout@v2
    - name: Setup python
      uses: actions/setup-python@v2
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        if [ -f requirements-test.txt ]; then pip install -r requirements-test.txt; fi
    - name: Build Docker image
      run: docker build -t $IMAGE_NAME .
    - name: Smoke tests container image
      run: pytest -x
      env:
        IB_ACCOUNT: ${{ secrets.IB_ACCOUNT }}
        IB_PASSWORD: ${{ secrets.IB_PASSWORD }}
        TRADE_MODE: paper

    - name: Run ib_insync example
      run: |
        docker run --rm \
        -e IB_ACCOUNT=$IB_ACCOUNT \
        -e IB_PASSWORD=$IB_PASSWORD \
        -e TRADE_MODE=paper \
        -p 4001:4002 \
        -d \
        $IMAGE_NAME tail -f /dev/null;
        sleep 30;
        pip install ib_insync pandas;
        python examples/ib_insync/scripts/connect_gateway.py;
        docker stop $(docker ps -a -q)
      env:
        TRADE_MODE: paper
        IB_ACCOUNT: ${{ secrets.IB_ACCOUNT }}
        IB_PASSWORD: ${{ secrets.IB_PASSWORD }}
        
    - uses: GoogleCloudPlatform/github-actions/setup-gcloud@master
      with:
        version: '290.0.1'
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true
    - name: Run google clound example
      run: |
        docker run \
        --env GCP_SECRET=True \
        --env GCP_SECRET_IB_ACCOUNT=$GCP_SECRET_IB_ACCOUNT  \
        --env GCP_SECRET_IB_PASSWORD=$GCP_SECRET_IB_PASSWORD \
        --env GCP_SECRET_IB_TRADE_MODE=$GCP_SECRET_IB_TRADE_MODE \
        --env GCP_PROJECT_ID=$GCP_PROJECT_ID \
        -e GOOGLE_APPLICATION_CREDENTIALS=/tmp/keys/credentials.json \
        -v $GOOGLE_APPLICATION_CREDENTIALS:/tmp/keys/credentials.json:ro \
        $IMAGE_NAME
      env:
        GCP_SECRET_IB_ACCOUNT: ${{ secrets.GCP_SECRET_IB_ACCOUNT }}
        GCP_SECRET_IB_PASSWORD: ${{ secrets.GCP_SECRET_IB_PASSWORD }}
        GCP_SECRET_IB_TRADE_MODE: ${{ secrets.GCP_SECRET_IB_TRADE_MODE }}
        GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
