name: Deploy to docker hub

on:
  push:
    branches:
      - '*' 
      - '!feature/**' 
      - '!hotfix/**'
      - '!bugfix/**' 
    tags:
      - 'v*'
    paths-ignore:
      - "README.md"
  schedule:
    - cron: "0 3 * * 0" # Runs at 03:00 AM (UTC) every Sunday

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        IBG_VERSION: [stable, latest]
    steps:
      - uses: actions/checkout@master
      -
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.DOCKER_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ${{ github.repository }}:${{ matrix.IBG_VERSION }}
          context: .
          build-args: IBG_VERSION=${{ matrix.IBG_VERSION }}
